* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

/* utilities */

.flex {
    display: flex;
}

.h50 {
    height: 50px;
}

.h70 {
    height: 70px;
}

.h90 {
    height: 90px;
}

.h100 {
    height: 100px;
}

.w90 {
    width: 90%;
}

.bg-blue {
    background-color: blue;
    color: white;
    text-align: center;
    line-height: 50px;
}

.bg-green {
    background-color: rgb(47, 207, 82);
    color: white;
    text-align: center;
    line-height: 80px;
}

.row {
    padding: 10px;
}

.border > * {
    border: 1px solid white;
}


/*** HEADER ***/

.margin {
    margin-top: 20px;
}

.margin-right {
    margin-right: 5px;
}