* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* utilities */

.bg-black {
    background-color: black;
}

.bg-brown {
    background-color: #89482a;
}

.bg-red {
    background-color: #d62229;
}

.bg-yellow {
    background-color: #ffe80a;
}

.bg-pink {
    background-color: #f6c595;
}

.bg-blue {
    background-color: #5554a0;
}

.row {
    display: flex;
    flex-direction: row;
}

.h50 {
    height: 50px;
}


/* dama */


.h135 {
    height: 135px;
}

.bg-light-brown {
    background-color: burlywood;
}

.bg-beige {
    background-color: beige;
}

.border {
    border: 2px solid black;
}

.margin {
    margin-top: 10px;
}

.border-brown {
    border: 4px solid brown;
    margin: 0 auto;
}

.border-radius {
    width: 90%;
    height: 100%;
    text-align: center;
    border-radius: 50%;
    margin: 0 auto;
}

h2 {
    text-align: center;
    line-height: 65px;
    vertical-align: middle;
}